@font-face
{
    font-family:  'sansita-one';
    src:url('font/SansitaOne-webfont.eot') format('eot'),
    src:url('font/SansitaOne-webfont.woff') format('woff'),
    src:url('font/SansitaOne-webfont.ttf') format('truetype'),
    src:url('font/SansitaOne-webfont.svg') format('svg');
}



div h2
{
    color:whitesmoke;
    font-family: 'sansita-one';
    text-shadow:2px 2px 2px rgba(0,0,0,0.4);
    font-size: 3em;
}

#topic-description
{
    color:whitesmoke;
    font-family: 'sansita-one';
    text-shadow:2px, 2px, 2px rgba(0,0,0,0.4);
    font-size: 2em;
    margin-left: 50px;
    margin-bottom:20px;
}

a{ color:whitesmoke; }

h3#title
{
    font-family:'sansita-one';
    z-index:1;
    position: relative;
    left: 2%;
    top: -14px;
    background-color: #E67E22;
    color:whitesmoke;
    padding: 10px;
    text-align: center;
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
}

#topic-owner
{
    font-family:'sansita-one';
    font-size: 1.4em;
    padding:1%;
}

.papers {
  background-color: white;
  height: 350px;
  padding: 20px;
  width: 260px;
/*  -webkit-box-shadow: 
        0px 1px   0 rgba(0,   0,   0,   0.100), 
        0px 3px   0 rgba(255, 255, 255, 1.0), 
        0px 4px   0 rgba(0,   0,   0,   0.125), 
        0px 6px   0 rgba(255, 255, 255, 1.0),  
        0px 7px   0 rgba(0,   0,   0,   0.150), 
        0px 9px   0 rgba(255, 255, 255, 1.0),  
        0px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);*/
  box-shadow: 
        0px 1px   0 rgba(0,   0,   0,   0.02), 
        0px 4px   0 rgba(255, 255, 255, 1.0), 
        0px 7px   0 rgba(0,   0,   0,   0.02), 
        0px 10px   0 rgba(255, 255, 255, 1.0),  
        0px 12px   0 rgba(0,   0,   0,   0.02), 
        0px 14px   0 rgba(255, 255, 255, 1.0),  
        0px 16px 0 rgba(0,   0,   0,   0.1),
        3px 18px 0 rgba(0, 0, 0, 0.1);
}

.group_item
{
    background:#eee;
    /*box-shadow:
        0px 1px 1px rgba(0,0,0,0.15),
        0px 10px -5px #eee,
        0px 10px 1px -4px rgba(0,0,0,0.15),
        0px 20px 0px -10px #eee,
        0px 20px 1px  9px rgba(0,0,0,0.15),
        0px 30px 0px -15px #eee;*/
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : 1%;
    background-color: white;
    width: 22%;
    height: 200px;
    display: inline-block;
}   

.group_item_closed
{
    //background-color : rgb(127, 140, 141);
}

.group_item_used
{
    //background-color : rgb(41, 128, 185); 
}

.group_item_open
{
  // background-color : rgb(39, 174, 96);
}

.topic_section_header
{
    background-color : rgb(226, 230, 231);
}

#topic_group_list
{
    //background-color : rgb(155, 89, 182);
    border-radius : 3px;
}

#topic_user_list
{
    border-radius : 3px;
}


#header_content
{
    background-color: rgb(44, 62, 80);//rgb(52, 152, 219);
    color:  white;
}

#header_content header
{
    margin-left: 15%;
    margin-right: 15%;
}

h3
{
   // color: rgb(211, 84, 0);
}

#content_body
{
   margin-left: 15%;
    margin-right: 15%;
}

.stitched 
{
    padding:12px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px rgba(0,0,0,0.3);
}